
        <br><br>
        <div style="background-color: #232f3e; position: relative; bottom: 0; width: 100%">
            <ul style="padding: 5px">
                <li style="padding: 5px"><a style="color: whitesmoke" href="#">About</a></li>
                <li style="padding: 5px"><a style="color: whitesmoke" href="#">Contact Us</a></li>
                <li style="padding: 5px"><a style="color: whitesmoke" href="#">Follow Us</a></li>
            </ul>
            <h4 style="padding: 5px; color: whitesmoke">Project CodeJudge Trademark 2018</h4>
        </div>
    </body>
</html>