<% include partials/header%>
    <br>

    <div class="container">
        <center>
            <h1 style="font-family: 'Allerta Stencil'">Code Judge</h1>
        </center>
        <br>

        <form action="/problems/<%=problem.id%>/ide" method="POST">

            <h4 style="font-weight: bold; font-family: Niramit">Problem:</h4>
            <p style="font-family: Niramit"><%=problem.statement%></p>

            <div>
                <select name="lang" class="mdb-select md-form">
                    <option value=" ">--Select Language--</option>
                    <option value="c">C</option>
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                    <option value="python2">Python</option>
                </select>
            </div><br>
            <div class="form-group">
                <label for="exampleFormControlTextarea3" style="font-family: Niramit">
                    <strong>Source Code</strong>
                </label>
                <textarea class="form-control" style="font-family: Niramit" rows="15" name="sourceCode" required="1" placeholer="Source"
                    wrap="soft"><%=source%></textarea>
            </div>


            <div>
                <button type="submit" class="btn btn-success btn-md" style="font-family: Niramit">Submit</button>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea3" style="font-family: Niramit">
                    <strong>Output</strong>
                </label>
                <textarea readonly class="form-control" style="font-family: Niramit" rows="3" name="output" wrap="soft"><%=output%></textarea>
            </div>

        </form>
        <a href="/problems" style="font-family: Niramit">Back To Problems</a>

        
        

    </div>

    <% include partials/footer%>
