<% include partials/header%>
    <div class="container">
        <h3>New Problem</h3>
    
        <form action="/problems" method ="POST">
            
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="title" placeholder="Title">
            </div>
            
            <div class="form-group">
                <label>Problem Statement</label>
                <textarea class="form-control" name="statement" placeholder="Problem" rows=5></textarea>
            </div>
            
            <div class="form-group">
                <label>Sample Test Input</label>
                <textarea class="form-control" name="sampleInput" placeholder="Sample Input" rows=5></textarea>
            </div>
            
            <div class="form-group">
                <label>Sample Test Output</label>
                <textarea class="form-control" name="sampleOutput" placeholder="Sample Output" rows=3></textarea>
            </div>
            
            <div class="form-group">
                <label>Actual Test Cases</label>
                <textarea class="form-control" name="testcases" placeholder="Test Cases Input" rows=3></textarea>
            </div>
            
            <div class="form-group">
                <label>Expected Output of the above testcases</label>
                <textarea class="form-control" name="serverOutput" placeholder="Test Cases Output" rows=3></textarea>
            </div>
            
            <button class="btn btn-info" type="submit">Submit</button>
        </form>

    </div>
    
    <br><br>

<% include partials/footer%>