<% include partials/header%>

<div class="container">
    <h1 style="color: #232f3e; font-family: Niramit">Problems</h1>
    <br>
    <div class="list-group">
        <% problems.forEach(function(problem) { %>
            <% if(solvedIds.includes(problem.id)) { %>
                <div class="list-group-item" style="padding: 3px; border-radius: 10px; border-style: solid; border-color: darkgreen; border-width: 2px;">
                    <h3 style="padding-left: 5px; font-family: Niramit;"><%= problem.title %></h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <a style="margin: 10px; font-family: Niramit;" class="btn btn-success" href="/problems/<%=problem.id%>">Try Again</a>
                        </div>
                        <div class="col-sm-6">
                            <!-- <img src="http://localhost:3000/checked.png"> -->
                            <span style="margin: 10px" class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                </div>
                <br>
            <% } else { %>
                <div class="list-group-item" style="padding: 5px; border-radius: 10px; border-style: solid; border-color: lightskyblue; border-width: 2px; ">
                    <h3 style="padding-left: 5px; font-family: Niramit;"><%= problem.title %></h3>
                    <a style="margin: 10px; font-family: Niramit;" class="btn btn-info" href="/problems/<%=problem.id%>">Solve Problem</a>
                </div>
                <br>
            <% } %>
        <% }); %>
    </div>
    
</div>

<% include partials/footer%>