<% include partials/header%>

<div class="container">
    <div>
        <h1 style="font-weight: bold; color: #232f3e; font-family: Niramit">Profile</h1>
        <h2 style="font-weight: bold; color: #232f3e; font-family: Niramit">Coder Name: <%=user.username%></h2>
    </div>
    <br>
    <div>
        <h2 style="color: #232f3e; font-weight: bold; font-family: Niramit">Solved Problems:</h2>
        <ul style="list-style-type:square">
            <% solved.forEach(function(prob) { %>
                <br>
                <li><h4 style="color: #232f3e; font-family: Niramit"><%= prob %></h4></li>
            <% }); %>
        </ul>
    </div>
</div>

<% include partials/footer%>