<% include partials/header%>

    <h1>Sign Up form</h1>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="Password" name="password" placeholder="Password">
        <button class="btn btn-lg btn-primary">Submit</button>
    </form>

    <% include partials/footer%>