<% include partials/header%>

    <div class="container">
        <br>
        <br>
        <br>

        <div class="container">
            <center>
                <h2>REGISTER</h2>

                <br>
                <form class="form-signin" action="/register" method="POST">

                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="username" placeholder="Username" required style="width: 500px">
                    </div>
                    <br>

                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Password" required style="width: 500px">
                    </div>
                    <br>

                    <button class="btn btn-lg btn-block" style="color: white; background-color: #232f3e; width: 500px">SIGN UP</button>

                </form>
            </center>
        </div>

    </div>

    <% include partials/footer%>